@page
@model AboutModel



<div class="about-privacy">
            <div>
               <h2><a id="a" asp-page="Index">Return</a></h2>
            </div>
        <h4>Instructions</h4>
        <p>This is a team programming project revisiting the MegaDesk application. 
            Your team will be reconstructing the MegaDesk program for the web using ASP.NET 
            Core Razor Pages. Students will need to meet and collaborate on one version 
            of the application.
        </p>
        <h4>Requirements</h4>
        <ul>
            <li>Use ASP.NET Core Razor Pages.</li>
            <li>Your final application design should not look like the ASP.NET Core Razor Pages tutorial nor the 
                starter files in terms of layout, color, typography, and overall design.</li>
            <li>The application will store desk quotes in the database.</li>
            <li>Make sure the desk quote contains all the required fields that were used in the desktop version.</li>
            <li>The user must be able to: 

                <ul>
                    <li>view all quotes,
                    <li>sort the quotes by date or customer name only,</li> 
                    <li>add new quotes,</li>  
                    <li>edit existing quotes, </li>
                    <li>delete quotes, and</li> 
                    <li>search quotes by customer name.</li>
                    <li>Green tea</li>
                  </ul>
            </li>

            <li>All user inputs should be validated.</li>
            <li>Add visual clues when selecting a type of desktop material.</li>

        </ul>
</div>
    