@page
@model PrivacyModel



<div class="about-privacy">
            <div>
               <h2><a id="a" asp-page="Index">Return</a></h2>
            </div>
        <p>Use this page to detail your site's privacy policy.</p>

</div>
    