* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Segoe UI';
}

body, html {
    height: 100%;
}

.bg {
    
   
    /* Background for Styling in homepage */
    height: 100vh;
    min-height: 500px;
    background-image: url(../Background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #1d3557;
}


/* Background for Styling in homepage (Resonsive*/
@media only screen and (max-width: 1366px) {
    .bg {
        background-attachment: scroll;
    }
}



/* Styling for button in Home page*/
.bg .center {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

   .bg .center ul {
        margin: auto;
    }

      .bg .center ul li {
            list-style-type: none;
            text-align: center;
        }

           .bg .center ul li a {
                text-decoration: none;
                color: black;
                font-size:22px;       
            }

        .bg .center ul li a:hover {
            color:white;
            
        }


/*View All Quotes*/

.view {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url(https://images.pexels.com/photos/4238524/pexels-photo-4238524.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
   
}

    .view .center-v {
       
        width: 70%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        margin: auto;

    }

    .view .center-v p #a{
        color:white;
        font-weight:700;
        text-decoration:none;
    }

       
        .view .center-v table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            opacity: .7;
        }

            .view .center-v table caption {
                font-size: 1.5em;
                margin: .5em 0 .75em;
            }

            .view .center-v table tr {
                background-color: #f8f8f8;
                border: 1px solid #ddd;
                padding: .35em;
            }

            .view .center-v table th,
            .view .center-v table td {
                padding: .625em;
                text-align: right;
            }

            .view .center-v table td:last-of-type a{
                padding: .325em;
                background-color:red;
                color:white;
                text-decoration:none;
                font-size:16px;
                
            }
                .view .center-v table th th,
                .view .center-v table td th {
                    font-size: .85em;
                    letter-spacing: .1em;
                    text-transform: uppercase;
                }

               

                    .view .center-v p:first-of-type, .view .center-v p:nth-of-type(2) {
                        padding: 2px 0;
                    }

                .view .center-v form .form-actions {
                     display: block;
                     margin: 20px 0;
                    
                    
                }

                .view .center-v form p {
                    margin: 10px 10px 0 0;
                    padding:10px 0;
                }

                .view .center-v form p:first-of-type {
                    
                    display:flex;
                }

                    .view .center-v form p:first-of-type input {
                        padding: 8px;
                        display: flex;
                        border: none;
                    }

                    .view .center-v p #a:hover {
                        text-decoration:underline;
                    }


                        .view .center-v form p:first-of-type input:nth-of-type(2) {
                            border: none;
                            display: flex;
                            background-color: #204c50;
                            color: white;
                        }



                    .view .center-v form p a {
                        padding: 10px;
                        background-color: #975405;
                        text-decoration: none;
                        color: white;
                        font-size:14px;
                    }




/*Add Quote, Edit Quote*/

.center-a {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../spiral-notebook.png);
    background-color: lightgray;
}

    .center-a form {
        display: table;        
        margin-left: -540px;
        margin-top: -15px;
    
    }

        .center-a form p {
            display: table-row;
            color:black;
        }

            .center-a form p label {
                display: table-cell;
                padding: 10px 50px 10px 0;
                font-weight: bolder;
            }

            .center-a form p input, .center-a form p select {
                width: 100%;
                padding: 5px;
                
            }

            .center-a form .input {
               
                margin:10px 0;
                background-color:black;
                color:white;
                padding: 7px;
               
              
            }

        .center-a form #s {
            width: 70%;
            border: none;
            padding: 7px;
            background-color: black;
            color: white;
            text-decoration: none;
        }





        /*details*/
.center-d {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-position: center;
    background-size: cover;
   
    background-repeat: no-repeat;
    background-image: url(https://images.pexels.com/photos/4295845/pexels-photo-4295845.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

    .center-d dl {
        font-size: 16px;
        width: 40%;
        overflow: hidden;
        padding: 0;
        margin: 0;
        transform: rotate(-21deg);
        margin-right: 0px;
        margin-top: -90px;
    }

       

        .center-d dl dt {
            float: left;
            width: 50%;
            /* adjust the width; make sure the total of both is 100% */
            padding: 10px;
            margin: 0;
        }

        .center-d dl dd {
            float: left;
            width: 50%;
            font-weight: bolder;
            /* adjust the width; make sure the total of both is 100% */
            padding: 10px;
            margin: 0;
            text-align:right;
        }

    .center-d .button {
        -ms-flex-item-align: center;
       
        align-self: center;
        transform: rotate(-21deg);
        margin-left: 460px;
        margin-top: -40px;
       
    }

    .center-d form {
        -ms-flex-item-align: center;
      
        align-self: center;
        transform: rotate(-21deg);
        margin-left: 460px;
        margin-top: -40px;
    }

        .center-d .button #s {
            width: 70%;
            border: none;
            padding: 7px;
            background-color: black;
            color: white;
            text-decoration: none;
        }

            .center-d .button #s:nth-child(2) {
                width: 70%;
                border: none;
                padding: 7px;
                background-color: #861c1c;
                color: white;
                text-decoration: none;
            }
<<<<<<< HEAD




/* Media Queries*/


/* For mobile phone*/

@media only screen and (min-width: 320px) and (max-width: 767px) {
=======
@media only screen and (max-width: 600px) {
>>>>>>> e48b26b5ce4ce2f10f6acbc9b080b0159a361463


    /* To make the table responsive in Index.html the one with tables*/

    .view .center-v {
        width: 100%;
        height: 100vh;
    }
        .view .center-v table {
            border: 0;
            opacity: 1;
        }

        table caption {
            font-size: 1.3em;
        }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }

        table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
        }

            table td::before {
        
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            table td:last-child {
                border-bottom: 0;
            }

    .view {
       
        background-color: black;
       background-image:none;
       padding:10px;
       
    }

    /*(Details Styling)*/

    .center-d {
        background-image: none;
        background-color: #975405;
        color: white;
    }
        .center-d dl {
            
            font-size: 16px;
            width: 100%;
            overflow: hidden;
            padding: 0;
            margin: 0;
            transform: rotate(0);
            margin: 0px;
            background-image: none;
            padding: 10px;
        }
        .center-d .button {
            -ms-flex-item-align: center;
           
            align-self: center;
            transform: rotate(0);
            margin: 0;
            color: white;
        }

        .center-d form {
            -ms-flex-item-align: center;
            
            align-self: center;
            transform: rotate(0);
            margin: 0;
            color: white;
        }

        .center-d dl dt {
            
        }

    dt, dd, .button, .button a {
        color: white;
    }


    /*(Add,and edit Styling)*/

    .center-a {
        background-image: none;
        padding: 10px;
        background-color: lightgray;
    }

        .center-a form {
            display: table;
            transform: rotate(0);
            margin:0;
        }


    /* Ipad View Styling (Media Queries */
}

@media only all and (max-width: 1024px) {



    /*(Index Styling the one with tables)*/
    .view .center-v {
        width: 100%;
        
    }
        .view .center-v table {
            border: 0;
            opacity: 1;
        }

        table caption {
            font-size: 1.3em;
        }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }

        table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
        }

            table td::before {
                /*
          * aria-label has no advantage, it won't be read inside a table
          content: attr(aria-label);
          */
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            table td:last-child {
                border-bottom: 0;
            }

    .view {
        background-color: black;
        background-image: none;
        padding: 10px;
    }


    /*(Details Styling)*/

    .center-d {
        background-image: none;
        background-color: #975405;
    }
        .center-d dl {
            font-size: 16px;
            width: 100%;
            overflow: hidden;
            padding: 0;
            margin: 0;
            transform: rotate(0);
            margin: 0px;
            padding: 10px;

        }

        .center-d .button {
            -ms-flex-item-align: center;
           
            align-self: center;
            transform: rotate(0);
            margin: 0;
        }
        .center-d form {
            -ms-flex-item-align: center;
          
            align-self: center;
            transform: rotate(0);
            margin: 0;
            color: white;
        }
    dt,dd, .button, .button a {
        color: white;
    }


    /*(Add and edit Styling)*/

    .center-a {
        background-image: none;
        padding: 10px;
        background-color: lightgray;
    }

        .center-a form {
            display: table;
            transform: rotate(0);
            margin: 0;
        }
}

