@page
@model IndexModel


 <div class="center">    
            <ul>
                <li><a asp-page="./DeskQuotes/Create">Add Quote</a></li>
                <li><a asp-page="./DeskQuotes/Index">View All Quote</a></li>
                <li><a asp-page="./About">About</a></li>
                <li><a asp-page="./Privacy">Privacy</a></li>
            </ul>  
 </div>